.tinyselect {
	
	height: 34px;
	display: inline-block;
	min-width: 20px;
	position: relative;
}

.tinyselect .selectbox {
	overflow: hidden;
	position: absolute;
	height: 30px;
	width: 108px;

	text-align: left;

	/* border: 1px solid #ccc; */

	line-height: 20px;
	padding-left: 10px;
	box-sizing: border-box;

	cursor: pointer;
	border-radius: 3px;

	white-space: nowrap;
	overflow-x: hidden;
}

.tinyselect .selectbox::after {
	content: ' ';
	position: absolute;
	right: 0px;
	border-left: 1px solid #ccc;
	height: 100%;
	font-size: 10pt;
	line-height: 20px;
	padding: 0px 8px;
	width: 10px;
	background-color: rgba(27, 111, 171, 0.686);
	background-repeat: no-repeat;
	background-position: center;

	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAJCAYAAADkZNYtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAABXSURBVChTjY0BCYBAFMWugw3MYRAbmMROhjGDFXQTThSfcoNx/P8HV2DEvUG7kxVTUPV+MWCKqt4fLJhC9y96TLH7yIz30PmTDjc09HX+ZUJj3ybC96UczHIuzhJ1BlkAAAAASUVORK5CYII=');

}

/* .tinyselect .selectbox.open::after {
	content: ' ';
	width: 300px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAJCAYAAADkZNYtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAABYSURBVChTY8ABWqE0QZAOxP+hNF4gDMTvgBikGESD+DgByHqQQhjG6RwlIEZWCMMgcQywA4ixKQaJowAbIMamEIZB8nBwB4ixKYJhkDwYRAAxNgVomCECALjaLs5bhaybAAAAAElFTkSuQmCC');

} */




.tinyselect .dropdown {
	overflow: hidden;
	position: absolute;
	width: 100px;
	top: 33px;
	border: 1px solid #ccc;
	background-color: rgba(9, 124, 207, 0.686);
	z-index: 100;

	box-sizing: border-box;
	max-height: 200px;

	overflow-x: hidden;
	overflow-y: hidden;
}

/* .tinyselect .dropdown .searchcontainer {
	overflow: hidden;
	padding: 5px;
} */

.tinyselect .dropdown .searchbox {
	overflow: hidden;
	width: 100%;
	border: 1px solid #ccc;
	font-size: 10pt;
	line-height: 2em;
	padding: 0 5px;
}







.tinyselect .itemcontainer {
	list-style: none;
	margin: 0;
	padding: 0;

}

.tinyselect .itemcontainer > li {
	padding: 2px 2px;
}

.tinyselect .itemcontainer > li.item {
	padding: 0px 10px;
}

.tinyselect .itemcontainer > li.selected {
	background-color: rgba(18, 11, 220, 0.899);
}

.tinyselect .itemcontainer > li.item:hover {
	background-color: rgba(12, 72, 212, 0.856);
	color: white;
}

.tinyselect .itemcontainer li.loadindicator {
	padding: 15px;
	font-weight: bold;
}

.tinyselect .itemcontainer li.loaderrorindicator {
	padding: 10px;
	font-weight: bold;
	color: red;
}